body {
    margin: 0px;
}

button {
    letter-spacing: 0.12rem;
}

button:hover {
    box-shadow: 0px 0px 12.5px rgba(0, 0, 0, 0.125);
    cursor: pointer;
}

button a,
button a:hover {
    text-decoration: none;
}

.container-fluid {
    max-width: 1200px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.blog-inner {
    padding-top: 24px;
    display: flex;
}

.blog-featured {
    width: 100%;
    max-width: 62.5%;
    padding: 0 24px 0 0;
    position: relative;
}

.blog-featured a {
    display: block;
    padding: 0px;
}

.img-wrap {
    position: relative;
    margin-bottom: 15px;
}

.img-wrap img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
    border-radius: 8px;
}

.blog-category {
    margin: 0 0 8px 0;
}

.blog-category.green {
    color: #5abb1e;
}

.blog-category.blue {
    color: #0055fb;
}

.blog-category.pink {
    color: #FD4664;
}

.blog-category.yellow {
    color: #ffc837;
}

.blog-featured .blog-title {
    margin: 0px;
}

.blog-title a,
.blog-title a:hover {
    text-decoration: none;
}

h5.blog-title {
    font-size: 16px;
}

.blog-side-posts {
    max-width: 37.5%;
    padding: 0 24px 0 24px;
    width: 100%;
}

.blog-side-post-item {
    margin-bottom: 48px;
    display: flex;
    align-items: flex-start;
}

.blog-side-post-item>a {
    display: flex;
    align-items: flex-start;
    padding: 0;
}

.blog-side-posts .img-wrap {
    position: relative;
    width: 100px;
    height: 100px;
    margin-right: 0 20px 0 0;
}

@media (min-width: 992px) {
    .blog-side-posts .img-wrap {
        width: 160px;
        height: 160px;
    }
}

@media (min-width: 1200px) {
    .blog-side-posts .img-wrap {
        margin: 0 40px 0 0;
    }
}

.blog-side-posts .img-wrap>img {
    border-radius: 4px;
    width: 100px;
    height: 100px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center;';
}

@media (min-width: 992px) {
    .blog-side-posts .img-wrap>img {
        width: 160px;
        height: 160px;
    }
}

.side-text {
    align-self: center;
}

.side-text a,
.side-text a>p {
    padding: 0;
    margin: 0;
    font-size: inherit;
}

.blog-side-posts h5 {
    margin-bottom: 10px;
    margin-top: 0;
}

.read {
    margin: 0px;
    margin-right: 30px;
}

p>a:hover {
    text-decoration: underline;
    color: #FD4664;
}

.new-blog-posts {
    padding-top: 3rem;
}

.section-header-title h3 {
    margin-bottom: 50.52px;
    font-weight: bold;
    color: black;
}

.new-blog-inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -20px;
    margin-left: -20px;
}

.new-blog-inner-item {
    position: relative;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 33%;
    max-width: 33%;
    display: block;
    margin-bottom: 3rem;
}

.new-blog-inner-item a {
    text-decoration: none;
    display: block;
}

.new-blog-inner-item h4 {
    margin: 0 0 5px 0;
}

.new-blog-inner .img-wrap img {
    border-radius: 8px;
    width: 100%;
    max-width: 100%;
    height: 275px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center;';
}

.cert-pub.talk {
    height: 275px;
    width: auto;
}

.fun.new-blog-inner .img-wrap img{
    height: 175px;
}

p.read>a {
    text-decoration: underline;
    color: black;
}

.youtube-video-wrap {
    display: flex;
    margin-right: -20px;
    margin-left: -20px;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.youtube-video-wrap>div {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}

.youtube-video-inner {
    flex-basis: 140%;
}

.youtube-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.youtube-item:not(:last-child) {
    margin-bottom: 48px;
}

.youtube-item a {
    display: flex;
    text-decoration: none;
}

.youtube-item .img-wrap {
    display: flex;
    margin-right: 60px;
    margin-bottom: 0;
    width: 140px;
    height: 140px;
}

.youtube-item h5 {
    margin-top: 0;
    margin-bottom: 10px;
    max-width: 360px;
    font-weight: bold;
}

.youtube-item .img-wrap img {
    border-radius: 8px;
    width: 140px;
    height: 140px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center;';
}

.featured-resource {
    border-radius: 6px;
    height: 100%;
    min-height: 400px;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
}

@media (min-width: 1200px) {
    .featured-resource {
        height: 475px;
    }
}

.subscribe-inner {
    display: flex;
    flex-direction: column;
}

.featured-resource h5 {
    max-width: 260px;
    margin-bottom: 20px;
    line-height: 1.33;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.featured-resource:hover {
    text-decoration: underline;
    color: white;
}

.read-post {
    text-decoration: underline;
}

#Subscribe {
    margin: 100px 0 0 0;
}

#Subscribe .outer-wrapper {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    border-radius: 8px;
}

.subscribe-wrapper {
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
}

.subscribe-wrapper .subscribe-inner {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 60%;
    flex: 1 0 60%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px 80px;
}

.subscribe-wrapper .info {
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 40%;
    flex: 1 0 40%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 18px;
    padding-right: 0;
}

.jumbo-img img {
    height: 250px;
    width: 250px;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    background-position: center;
    object-fit: cover;
    object-position: center;
}

.subscribe-wrapper .main-text {
    margin-top: 0px !important;
    margin-bottom: 8px;
    color: white;
}

.subscribe-wrapper .sub-text {
    margin-top: 8px !important;
    font-size: 1rem;
    color: #929292;
    line-height: 1.45rem;
}

.social-icons {
    padding: 8px 0px;
}

.social-icons a {
    color: black
}

.social-icons a:hover {
    color: #FD4664;
}

.social-icons .fab {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5rem;
}

.subscribe-wrapper .form {
    position: relative;
    display: flex;
    margin-top: 0.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-self: baseline;
    align-self: baseline;
    padding-right: 0;
}

.subscribe-form-wrapper {
    max-width: 420px;
    width: 100%;
    margin: 0 auto;
}

.subscribe-form-wrapper input {
    font-family: 'Roboto', sans-serif;
    height: 50px;
    width: 350px;
    margin: 0;
    padding: 0 10px;
    border: none;
    background-color: transparent!important;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.5) !important;
    color: #fff;
}

.subscribe-form-wrapper input::placeholder {
    color: rgba(255, 255, 255, 1) !important;
    font-weight: bold;
}

.subscribe-form-wrapper button {
    height: 52px;
    border-radius: 8px;
    float: right;
    /* position: absolute;
    top: 0;
    right: 0; */
    margin: -52px -60px 0 0;
}

.underline {
    text-decoration: underline;
}

footer {
    margin-top: 72px;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-wrapper .section-header-title h3 {
    margin-bottom: 0;
}

.footer-wrapper .sub-section-header-title h5 {
    margin-top: 24px;
}

.github-stats i {
    padding-left: 24px;
    padding-right: 8px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blog-header-inner, .blog-details-header, .project-header-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 20px 0;
}

.project-header-inner, .project-header-inner .blog-details-header {
    margin: 10px 0 30px 0;
}

.blog-details-header h2{
    text-align: center;
    max-width: 840px;
    margin: 20px 0;
}

.project-details-header h2{
    text-align: center;
    max-width: 840px;
    margin: 10px 0;
}

.blog-header-image {
    max-width: 960px;
}

.blog-header-image img, .project-header-image img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.project-header-image {
    max-height: 350px;
    width: 100%;
}

.project-header-image img{
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.blog-details-header p{
    margin: 0;
}

.blog-details-header .blog-description {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    max-width: 960px;
}

.blog-article img {
    width: 100%;
    margin: 16px 0;
    border-radius: 8px;
}

#blog_details .container-fluid{
    margin: auto;
    max-width: 900px;
}

.project-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blog-author {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 80px 0 0 0;
}

.blog-author::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #f0f0f0;
    position: absolute;
    top: 0;
    left: 0;
}

.blog-author .text h3,
.blog-author .text p {
    margin: 0;
}

.blog-author .img-wrap{
    width: 140px;
    height: 140px;
    margin-right: 50px;
    margin-bottom: 0;
}

.blog-author .img-wrap img{
    width: 140px;
    height: 140px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    border-radius: 50%;
}

.blog-author .social-icons a:hover {
    color: #FD4664;
}

.w-50 {
    flex: 0 0 50%;
    max-width: 50%;
}

@media only screen and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .section-header-title h3 {
        margin: 22px 0 22px 64px;
    }
    .new-blog-inner .img-wrap img {
        height: 200px;
    }
    .cert-pub.talk {
        height: 200px;
    }
    .new-blog-inner-item h4 {
        font-size: 24px;
    }
    .footer-wrapper .section-header-title h3 {
        margin-left: 0;
    }
    .blog-inner .blog-featured {
        padding: 0 12px 0 0;
    }
    .blog-inner .blog-side-posts {
        padding: 0 0 0 12px;
    }
    .blog-inner .blog-side-post-item {
        margin-bottom: 24px;
    }
    .blog-side-post-item .side-text {
        margin-left: 12px;
    }
    .blog-side-posts h5 {
        margin-bottom: 0;
    }
    .blog-side-posts .img-wrap {
        margin-bottom: 0;
    }
    .blog-side-post-item {
        align-items: center;
    }
    p.blog-category {
        font-size: 14px;
        margin-bottom: 0;
    }
    .blog-side-posts .read a {
        font-weight: 400;
    }
    .blog-featured .img-wrap img {
        height: 224px;
    }
    .youtube-item .img-wrap {
        margin-right: 30px;
        margin-left: 30px;
    }
    .youtube-item:not(:last-child) {
        margin-bottom: 20px;
    }
    #Subscribe .outer-wrapper {
        max-width: 97%;
    }
    .subscribe-wrapper .subscribe-inner {
        padding: 10px 20px;
    }
    .subscribe-wrapper .form {
        max-width: 90%;
    }
    .subscribe-form-wrapper input {
        width: 200px;
    }
    .subscribe-form-wrapper p {
        text-align: center;
    }
    .subscribe-wrapper .main-text {
        font-size: 38px;
    }
    .jumbo-text {
        padding: 50px 0;
    }
    .grid .new-blog-inner-item {
        margin-bottom: 12px;
    }
}

@media only screen and (max-device-width: 940px) {
    .section-header-title h3 {
        margin: 18px 0 18px 48px;
        font-size: 32px;
    }
    .new-blog-inner .img-wrap img {
        height: 150px;
    }
    .cert-pub.talk{
        height: 150px;
    }
    .new-blog-inner {
        margin-top: 32px;
        padding: 0 24px;
        max-width: 90%;
    }
    .new-blog-inner-item {
        padding: 0 10px;
    }
    .new-blog-inner h4 {
        font-size: 20px;
    }
    #new-blog-posts {
        padding-top: 100px;
        padding-bottom: 25px;
    }
    .footer-wrapper .section-header-title h3 {
        font-size: 24px;
        margin-left: 0px;
    }
    .footer-wrapper .sub-section-header-title h5 {
        margin-top: 18px;
        font-size: 18px;
    }
    .blog-side-post-item .side-text .blog-title a,
    .blog-side-post-item .side-text .read {
        font-size: 14px;
    }
    .blog-featured .blog-title a {
        font-size: 24px;
    }
    .blog-featured .blog-description {
        margin: 10px 0;
    }
    .youtube-item .text h5 {
        font-size: 20px;
    }
    .featured-resource h5 {
        font-size: 20px;
    }
    .subscribe-wrapper .info {
        padding-left: 0;
    }
    .subscribe-form-wrapper button {
        padding: 8px 16px;
    }
    .grid .new-blog-inner {
        padding: 0;
    }
    .jumbo-text {
        padding: 25px 0;
    }
    #blog_details .container-fluid{
        margin: 0 20px;
    }
    .blog-details-header h2{
        font-size: 32px;
    }
}

@media only screen and (max-device-width: 768px) {
    .everything .new-blog-outer,
    .everything .new-blog-inner {
        padding: 0;
    }
    /* others */
    .everything .container-fluid {
        padding: 0 20px !important;
    }
    .social-icons .fab {
        padding: 0 5px;
    }
    .read {
        margin-right: 0;
    }
    .section-header-title h3 {
        margin: 18px 0 18px 0px;
        font-size: 24px;
    }
    .new-blog-inner {
        margin-top: 32px;
        padding: 0;
        max-width: 90%;
        align-self: center;
        width: 1280px;
    }
    .everything .new-blog-inner {
        max-width: 100%;
    }
    .new-blog-inner-item {
        padding: 0 0 0 0px;
        max-width: 100%;
    }
    .new-blog-inner {
        margin-top: 10px;
    }
    .new-blog-inner-item .img-wrap,
    .new-blog-inner h4 {
        margin-bottom: 10px;
    }
    .youtube-item .img-wrap {
        margin-left: 0;
        align-items: center;
    }
    .youtube-item .img-wrap img {
        width: 125px;
        height: 125px;
    }
    .everything .youtube-video-featured .container-fluid {
        padding: 0!important;
    }
    .everything .youtube-video-wrap,
    .everything .blog-inner,
    .everything .subscribe-wrapper {
        flex-direction: column;
    }
    .everything .blog-featured,
    .everything .blog-side-post-item,
    .everything .blog-side-posts {
        padding: 0;
        max-width: 100%;
    }
    .everything .blog-side-posts,
    .everything .youtube-video-featured {
        margin-top: 50px;
    }
    .everything .youtube-item .img-wrap {
        height: auto;
        width: auto;
        margin-right: 0px;
    }
    .everything .youtube-item .text h5 {
        font-size: 14px;
    }
    .youtube-item .img-wrap img {
        width: 100px;
        height: 100px;
    }
    .youtube-item .text {
        margin-left: 12px;
    }
    .subscribe-wrapper .main-text {
        font-size: 32px;
    }
    .subscribe-form-wrapper button {
        padding: 8px 12px;
        font-size: 14px;
    }
    .everything .subscribe-wrapper {
        padding: 40px 0;
    }
    .subscribe-form-wrapper p {
        margin-top: 24px;
    }
    .subscribe-wrapper .subscribe-inner {
        text-align: center;
        padding: 0 20px;
    }
    #Subscribe .outer-wrapper {
        max-width: 100%;
        border-radius: 0;
    }
    .grid .new-blog-inner-item {
        margin-bottom: 24px;
    }
    .jumbo-text h1 {
        font-size: 40px;
    }
    .pagination .pg-num {
        width: 30px;
        height: 30px;
    }
    .pagination a.pg-num {
        font-size: 12px;
    }
    .blog-details-header h2{
        font-size: 24px;
    }
    .blog-author{
        flex-direction: column;
    }
    .blog-author .img-wrap{
        margin-right: 0;
        margin-bottom: 10px;
    }
    .blog-author .text{
        text-align: center;
    }
    .blog-author .text h3{
        font-size: 24px;
        margin-bottom: 10px;
    }
}