@import url('https://fonts.googleapis.com/css?family=Roboto:400|Poppins:400');

*:not(#other-cert):not(.hidden-work-exp):not(.search-tray) {
    transition: all 0.3s ease;
}

.mt-16 {
    margin-top: 16px;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

hr {
    margin: 20px auto;
    max-width: 420px;
    width: 100%;
    border: 1px solid #FD4664;
}

/*16px*/

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.65;
    color: #333;
    letter-spacing: 0.06rem;
}

p {
    margin-bottom: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 2.75rem 0 1.05rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.15;
}

h1 {
    margin-top: 0;
    font-size: 4.209em;
}

h2 {
    font-size: 3.157em;
}

h3 {
    font-size: 2.369em;
}

h4 {
    font-size: 1.777em;
}

h5 {
    font-size: 1.333em;
}

.search-tray{
    display: none;
    position: fixed;
    justify-content: stretch;
    z-index:6;
    background-color: black;
    width: 100%;
}

.search-tray.visible {
    display: flex;
}

.search-tray .search-input {
    width: 1200px;
    margin: 16px auto;
    border: none;
    padding-left: 40px;
    color: white;
    font-size: 16px;
    letter-spacing: 0.135em;
    background-color: black;
}

.search-input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c2c2c2;
}

.search-input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #c2c2c2;
}

small,
.text_small {
    font-size: 0.75em;
}

button>a {
    color: white;
    font-weight: inherit;
    margin: 0;
}

button>a:hover {
    color: white;
    font-weight: inherit;
}

button {
    background-color: #FD4664;
    border: none;
    padding: 16px 32px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    margin: 8px;
    font-size: 16px;
    line-height: initial;
}

button.ghost {
    background-color: white;
    border: none;
    padding: 16px 32px;
    color: #FD4664;
    font-family: Roboto;
    font-style: normal;
    margin: 8px;
    font-size: 16px;
    line-height: initial;
    border: 1px solid #FD46649A;
    /* box-shadow: 0px 0px 12.5px rgba(0, 0, 0, 0.125); */
}

button.ghost a {
    color: #FD4664;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

a:hover {
    color: black;
    text-decoration: underline;
}

a.inverted {
    color: white;
}

input,
textarea {
    padding: 8px 16px;
    display: block;
    margin: 16px 8px;
    border: 2px solid rgba(146, 146, 146, 0.5);
    border-radius: 10px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(146, 146, 146, 0.5);
    font-family: 'Poppins', sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(146, 146, 146, 0.5);
    font-family: 'Poppins', sans-serif;
}

.footer-nav {
    margin-top: 54px;
    margin-bottom: 54px;
}

nav ul {
    padding: 0;
}

.footer-nav ul {
    padding: 0 24px;
}

.footer-nav li {
    text-decoration: underline;
    font-weight: bold;
}

.nav-inner {
    display: flex;
    padding: 16px 32px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

nav a {
    color: inherit;
    text-decoration: none;
    font-size: 1em;
    margin-top: 8px;
    padding: 0;
    font-weight: inherit;
}

nav a.active {
    /* font-weight: bold; */
    color: #FD4664;
}

nav a.active:hover {
    /* font-weight: bold; */
    color: #FD4664;
}

nav a:hover {
    box-shadow: none;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.nav-logo {
    width: 56px;
    height: 56px;
    padding: 8px;
}

.nav-name {
    margin: 0px;
    font-weight: bold;
    align-self: initial;
}

.nav-name.main {
    font-weight: bold;
}

nav ul {
    text-decoration: none;
    list-style: none;
    overflow: hidden;
}

nav ul li {
    display: inline;
    padding: 8px 16px;
}

.nav-center {
    text-align: center;
}

.nav-start {
    display: flex;
    align-items: center;
}

.nav-subscribe {
    padding: 12px 18px;
}

.nav-aside a {
    font-size: 1.25rem;
    padding: 0 12px;
}

.bold {
    font-weight: bold;
}

.main-intro-inner {
    padding: 48px 0;
    display: flex;
    align-items: flex-end;
}

.main-intro-inner .social-icons a,
.connect-inner-wrapper .social-icons a {
    color: black;
}

.main-intro-inner .social-icons {
    text-align: center;
}

.main-intro-featured {
    width: 100%;
    max-width: 75%;
    padding: 0 24px 0 56px;
    position: relative;
}

.main-intro-side {
    max-width: 25%;
    padding: 0 24px 0 24px;
    width: 100%;
}

.main-intro-title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 24px;
}

.jumbo-name-text {
    color: #FD4664;
    font-size: 72px;
}

.main-intro-sub-title {
    font-size: 32px;
    margin-top: 0px;
}

.main-intro-description {
    line-height: 28px;
    /* text-align: justify; */
    font-size: 18px;
    padding-top: 35px;
    padding-bottom: 35px;
    width: 65%;
}

.main-intro-position {
    margin: 30px 0;
}

.main-intro-position h4,
.main-intro-position h5 {
    margin: 10px 0;
    color: #525252;
    text-align: center;
}

.main-intro-profile-image {
    text-align: center;
}

.main-intro-profile-image img {
    margin: auto;
    border-radius: 50%;
    object-position: cover;
    object-fit: center;
    overflow: hidden;
    height: 250px;
    width: 250px;
    background-color: white;
    padding: 15px;
    border-radius: 50%;
    background-position: center;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 0px 12.5px rgba(0, 0, 0, 0.125);
}

.cwo-inner {
    padding-top: 24px;
    display: flex;
    align-items: center;
}

.cwo-image {
    width: 100%;
    max-width: 40%;
    padding: 0 24px 0 0;
    position: relative;
    display: flex;
    justify-content: center;
}

.cwo-image .img-wrap {
    margin-bottom: 0;
}

.cwo-image .img-wrap img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

img.project-img {
    box-shadow: 0px -1px 5.5px rgba(0, 0, 0, 0.125);
}

.cwo-info {
    width: 100%;
    max-width: 60%;
    padding: 0 24px;
    position: relative;
}

.project-title {
    margin: 0 0 8px 0;
}

.cwo-info .project-title {
    font-size: 28px;
}

.project-description {
    text-align: justify;
    margin-top: 8px;
}

.project-commit {
    color: #c2c2c2;
    margin: 0;
}

.currently-working-on,
.other-cool-projects,
#work-exp {
    padding: 50px 0;
}

#work-exp {
    margin: 50px 0 100px 0;
}

#new-blog-posts,
#cert,
#connect {
    padding: 50px 0 50px 0;
}

.ocp-inner {
    margin-top: 24px;
    padding-top: 24px;
    padding: 0 24px;
    display: flex;
    align-items: center;
}

.ocp-image {
    width: 100%;
    max-width: 30%;
    padding: 0 12px 0 0;
    position: relative;
    display: flex;
    justify-content: center;
}

.ocp-image .img-wrap {
    margin-bottom: 0;
    width: 100%;
    height: 100%;
}

.ocp-image .img-wrap img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.ocp-info {
    width: 100%;
    max-width: 70%;
    padding: 0 24px;
    position: relative;
}

.ocp-info .blog-category,
.ocp-info .project-title,
.ocp-info .project-commit {
    margin-bottom: 8px;
    margin-top: 0;
}

.ocp-info p {
    font-size: 16px;
}

.ocp-info .project-title {
    font-size: 24px;
}

.ocp-outer .aside,
.work-exp.aside {
    margin-top: 10px;
    float: right;
    font-size: 24px;
}

.new-blog-posts .aside,
.cert-outer-wrapper .aside {
    float: right;
    font-size: 24px;
}

.col-sm-6 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.work-wrapper .blog-category,
.work-wrapper .work-title,
.work-wrapper .project-commit,
.work-wrapper .underline,
.work-wrapper .work-card-body {
    margin: 0;
}

.work-card-body {
    text-align: justify;
}

.work-exp-outer {
    padding: 20px;
}

.cert-inner-wrapper,
.connect-inner-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.cert-inner-wrapper .img-wrap {
    width: 100%;
    max-width: 12.5%;
    margin-bottom: 0;
    position: relative;
    margin: 0 24px 0 0;
    display: flex;
    justify-content: start;
}

.cert-inner-wrapper .img-wrap img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.cert-inner-wrapper .cert-info {
    width: 100%;
    max-width: 87.5%;
    margin: 0 24px;
    position: relative;
}

.cert-info p {
    margin: 0;
}

.cert-info h5,
.cert-info a {
    margin: 0;
    font-weight: bold;
}

.cert-pub {
    width: 100px;
    background-color: #ffc837;
    height: 100px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

.cert-pub h4 {
    margin: 0;
    text-align: center;
    align-self: center;
}

.connect-description {
    width: 100%;
    max-width: 50%;
    position: relative;
}

.connect-description p {
    text-align: justify;
}

.connect-inner-wrapper {
    justify-content: space-between;
}

.connect-inner-wrapper .form {
    width: 100%;
    max-width: 40%;
    padding: 0 24px;
    position: relative;
}

.connect-inner-wrapper .form input,
.connect-inner-wrapper .form textarea {
    padding: 12px;
    font-size: 1rem;
    width: 100%;
}

.connect-inner-wrapper .form button {
    margin: 8px;
    padding: 12px;
    width: 100%;
}

.header-nav {
    position: fixed;
    box-shadow: none;
    width: 100%;
    z-index: 2;
}

header {
    padding-top: 100px;
}

.up-arrow {
    background-color: #FD4664;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 35px;
    right: 35px;
    border-radius: 8px;
    color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#go_up {
    display: none;
    transition: unset;
}

.jumbo-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    flex-direction: column;
}

.fun.jumbo-text{
    padding: 20px 0 30px 0;
}

.new-blog-inner article a:hover,
.blog-featured .blog-title:hover a {
    text-decoration: underline!important;
}

.pagination {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.pagination .pg-num {
    margin: 0 4px;
    width: 50px;
    height: 50px;
    background-color: #c2c2c2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.pg-num.active {
    background-color: #FD4664;
    color: white;
}

@media only screen and (max-device-width: 1024px) {
    .footer-nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    .footer-wrapper .section-header-title h3,
    .footer-wrapper .sub-section-header-title h5 {
        text-align: center;
    }
    .main-intro-inner .main-intro-side,
    .main-intro-inner .main-intro-featured,
    .cwo-inner .cwo-image,
    .cwo-inner .cwo-info,
    .ocp-inner,
    #timeline_row,
    .connect-info,
    .connect-inner-wrapper,
    .footer-wrapper {
        max-width: 90%;
    }
    .cwo-inner .cwo-image img,
    .cwo-inner .cwo-image .img-wrap {
        width: 100%;
    }
    .main-intro-inner,
    .cwo-inner,
    .ocp-outer,
    .work-exp-outer,
    .new-blog-outer,
    .cert-outer-wrapper,
    .connect-outer-wrapper,
    .footer-outer-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .work-exp.aside,
    .new-blog-posts .aside {
        float: left;
    }
    /* nav */
    .nav-start h4 {
        font-size: 24px;
    }
    nav ul li {
        padding: 8px 12px;
    }
    .nav-aside a {
        padding: 0 8px;
    }
    /* main-intro */
    .main-intro-inner .main-intro-side {
        margin-bottom: 50px;
    }
    .main-intro-inner .main-intro-title {
        font-size: 32px;
    }
    .main-intro-inner .jumbo-name-text {
        font-size: 64px;
    }
    .main-intro-inner .main-intro-description {
        padding: 18px 0;
    }
    /* currently working on */
    .cwo-inner .cwo-image img,
    .cwo-inner .cwo-image .img-wrap {
        height: 300px;
    }
    .cwo-inner .project-description {
        padding-right: 24px;
    }
    .cwo-inner .cwo-image .img-wrap {
        padding: 0 24px;
        margin-bottom: 12px;
    }
    /* other cool projects */
    .ocp-inner .project-description {
        margin-bottom: 4px;
    }
    .ocp-outer .aside,
    .work-exp.aside,
    .new-blog-posts .aside,
    .cert-outer-wrapper .aside {
        margin-left: 64px;
        margin-top: 24px;
        align-self: start;
    }
    /* new blog */
    .new-blog-inner {
        margin-top: 48px;
        max-width: 90%;
    }
    /* certifications */
    #other-cert{
        width: 100%;
    }
    .cert-inner-wrapper {
        width: 100%;
        margin-bottom: 48px;
    }
    /* connect */
    .connect-description {
        max-width: 60%;
    }
    .form {
        max-width: 40%;
    }
    /* footer */
    .footer-nav {
        margin: 36px 0;
    }
    .footer-nav ul {
        padding: 0 56px;
    }
    /* others */
    .up-arrow {
        width: 40px;
        height: 40px;
        bottom: 25px;
        right: 25px;
        border-radius: 8px;
    }
}

@media only screen and (max-device-width: 940px) {
    /* nav */
    .header-nav {
        display: none;
    }
    /* main-intro */
    header {
        padding-top: 50px;
    }
    .main-intro-featured {
        padding: 0 24px 0 48px;
        text-align: center;
    }
    .main-intro-position {
        margin: 15px 0;
    }
    .main-intro-inner .main-intro-side {
        margin-bottom: 50px;
    }
    .main-intro-inner .main-intro-title {
        font-size: 24px;
    }
    .main-intro-inner .jumbo-name-text {
        font-size: 51px;
    }
    .main-intro-sub-title {
        margin-top: 12px;
        font-size: 24px;
    }
    .main-intro-inner .main-intro-description {
        font-size: 18px;
        padding: 18px 0;
        width: 100%;
    }
    /* currently working on */
    .cwo-info .project-title {
        font-size: 24px;
    }
    .cwo-inner .cwo-image img,
    .cwo-inner .cwo-image .img-wrap {
        height: 250px;
    }
    .cwo-inner .cwo-image .img-wrap {
        padding: 0 24px;
        margin-bottom: 12px;
    }
    /* other cool projects */
    .ocp-inner {
        padding-top: 0;
    }
    .ocp-info p.project-commit {
        margin: 0;
    }
    .ocp-info {
        padding: 0 12px;
    }
    .ocp-info .project-title {
        font-size: 20px;
    }
    .ocp-info .blog-category,
    .ocp-info .project-title,
    .ocp-info .project-commit,
    .ocp-info .project-description {
        margin-bottom: 2px;
        margin-top: 0;
    }
    .ocp-outer .aside,
    .work-exp.aside,
    .new-blog-posts .aside,
    .cert-outer-wrapper .aside {
        margin-left: 48px;
        margin-top: 12px;
        align-self: start;
    }
    /* work experience */
    #work-exp {
        margin: 50px 0 50px 0;
        padding-top: 0px;
    }
    .work-exp-outer {
        padding: 0 48px;
    }
    .timeline button {
        padding: 12px 28px;
    }
    #timeline .timeline-badge,
    #timeline::before {
        left: 20%!important;
    }
    .timeline-item {
        padding-right: 0px!important;
        padding-left: 8px!important;
    }
    .timeline-item.year {
        padding-left: 0px!important;
    }
    .work-title {
        font-size: 20px;
    }
    /* new blog */
    .new-blog-posts .aside,
    .cert-outer-wrapper .aside {
        margin-top: 0;
    }
    /* certifications */
    .cert-info h5 {
        font-size: 20px;
    }
    .cert-inner-wrapper .cert-info {
        padding-right: 0px;
    }
    .cert-outer-wrapper {
        justify-content: center;
    }
    #other-cert{
        width: 90%;
    }
    .cert-inner-wrapper {
        margin-bottom: 40px;
        max-width: 90%;
    }
    /* connect */
    .connect-info h5 {
        margin-top: 20px;
        font-size: 20px;
    }
    .connect-description p {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .connect-inner-wrapper .form {
        padding: 0 12px;
        align-self: start;
    }
    .connect-outer-wrapper .connect-info,
    .connect-outer-wrapper .connect-inner-wrapper {
        padding: 0 24px;
    }
    /* footer */
    .footer-nav {
        margin: 28px 0;
    }
    /* others */
    .ocp-info p.project-commit,
    .work-wrapper p.project-commit {
        font-size: 14px;
    }
}

@media only screen and (max-device-width: 768px) {
    /* main intro */
    .main-intro-inner {
        padding-top: 10px;
        padding-bottom: 25px;
    }
    .main-intro-inner .main-intro-side {
        margin-bottom: 10px;
    }
    .main-intro-inner .main-intro-title {
        font-size: 18px;
    }
    .main-intro-inner .jumbo-name-text {
        font-size: 32px;
    }
    .main-intro-profile-image img {
        height: 150px;
        width: 150px;
        padding: 10px;
    }
    .main-intro-sub-title {
        font-size: 20px;
    }
    .currently-working-on,
    .other-cool-projects,
    #work-exp {
        padding: 20px 0;
    }
    .main-intro-featured,
    .main-intro-inner .main-intro-description,
    .cwo-image,
    .cwo-inner .cwo-image .img-wrap,
    .cwo-info,
    .cwo-inner .project-description,
    .ocp-inner,
    .ocp-image,
    .ocp-info,
    .work-exp-outer,
    .connect-inner-wrapper .form {
        padding: 0;
    }
    .cwo-inner .cwo-image img,
    .cwo-inner .cwo-image .img-wrap,
    .ocp-image .img-wrap img {
        height: 200px;
    }
    .ocp-inner .ocp-image .img-wrap {
        width: 1200px;
        margin-bottom: 12px;
    }
    .cwo-info .project-title,
    .footer-wrapper .section-header-title h3 {
        font-size: 20px;
    }
    p,
    .ocp-info p {
        font-size: 14px;
    }
    .container-fluid {
        padding: 0 10px !important;
    }
    .ocp-inner,
    .new-blog-inner,
    .connect-inner-wrapper {
        flex-direction: column;
    }
    .ocp-inner .ocp-image,
    .ocp-inner .ocp-info,
    #timeline,
    .col-sm-3,
    .col-sm-6,
    .connect-description,
    .connect-inner-wrapper .form {
        max-width: 100%;
    }
    .ocp-outer .aside,
    .work-exp.aside,
    .new-blog-posts .aside,
    .cert-outer-wrapper .aside {
        margin-left: 16px;
        font-size: 20px;
    }
    .timeline-badge,
    #timeline::before {
        display: none;
    }
    .timeline-item.year {
        margin: 20px 0;
    }
    .timeline-item {
        padding-left: 0 !important;
    }
    #timeline .row.timeline-movement {
        flex-direction: column;
        padding: 0;
        margin: 0 !important;
    }
    #timeline {
        margin: 0 !important;
        height: auto !important;
    }
    #work-exp .aside {
        margin-top: 20px !important;
    }
    #work-exp,
    .col-sm-3.timeline-item.year button {
        margin: 0 !important;
    }
    .cert-inner-wrapper {
        padding: 0;
        max-width: 90%;
        align-self: center;
    }
    .cert-outer-wrapper {
        padding: 0;
    }
    .cert-inner-wrapper .img-wrap {
        display: none;
    }
    .cert-inner-wrapper .cert-info {
        margin: 0;
    }
    #connect {
        padding-top: 0;
        padding-bottom: 0;
    }
    .connect-description p {
        text-align: left;
    }
    .connect-outer-wrapper .connect-info,
    .connect-outer-wrapper .connect-inner-wrapper {
        padding: 0;
    }
    .connect-inner-wrapper .form input,
    .connect-inner-wrapper .form textarea,
    .connect-inner-wrapper .form button {
        margin: 16px 0;
    }
    .footer-wrapper .footer-nav {
        padding-left: 0;
        padding-right: 0;
    }
    .footer-wrapper .footer-nav ul {
        padding: 0;
        margin: 0;
    }
    .footer-wrapper .sub-section-header-title h5 {
        padding: 10px 30px;
    }
}