@import url('https://fonts.googleapis.com/css?family=Roboto:400|Poppins:400');
.mt-16 {
    margin-top: 16px;
}

html {
    font-size: 100%;
}


/*16px*/

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.65;
    color: #333;
    letter-spacing: 0.06rem;
}

p {
    margin-bottom: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 2.75rem 0 1.05rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.15;
}

h1 {
    margin-top: 0;
    font-size: 4.209em;
}

h2 {
    font-size: 3.157em;
}

h3 {
    font-size: 2.369em;
}

h4 {
    font-size: 1.777em;
}

h5 {
    font-size: 1.333em;
}

small,
.text_small {
    font-size: 0.75em;
}

button>a {
    color: white;
    font-weight: inherit;
    margin: 0;
}

button>a:hover {
    color: white;
    font-weight: inherit;
}

button {
    background-color: #FD4664;
    border: none;
    padding: 16px 32px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    margin: 8px;
    font-size: 16px;
    line-height: initial;
}

button.ghost {
    background-color: white;
    border: none;
    padding: 16px 32px;
    color: #FD4664;
    font-family: Roboto;
    font-style: normal;
    margin: 8px;
    font-size: 16px;
    line-height: initial;
    border: 1px solid #FD46649A;
    /* box-shadow: 0px 0px 12.5px rgba(0, 0, 0, 0.125); */
}

button.ghost a {
    color: #FD4664;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

a:hover {
    color: black;
    text-decoration: underline;
}

a.inverted {
    color: white;
}

input,
textarea {
    padding: 8px 16px;
    display: block;
    margin: 16px 8px;
    border: 2px solid rgba(146, 146, 146, 0.5);
    border-radius: 10px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(146, 146, 146, 0.5);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(146, 146, 146, 0.5);
}

.footer-nav {
    margin-top: 54px;
    margin-bottom: 54px;
}

.footer-nav li {
    text-decoration: underline;
}

nav {
    display: flex;
    padding: 16px 32px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

nav a {
    color: inherit;
    text-decoration: none;
    font-size: 1em;
    margin-top: 8px;
    padding: 0;
    font-weight: inherit;
}

nav a.active {
    font-weight: bold;
    color: #FD4664;
}

nav a.active:hover {
    font-weight: bold;
    color: #FD4664;
}

nav a:hover {
    box-shadow: none;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.nav-logo {
    width: 56px;
    height: 56px;
    padding: 8px;
}

.nav-name {
    margin: 0px;
    font-weight: bold;
    align-self: initial;
}

.nav-name.main {
    font-weight: bold;
}

nav ul {
    text-decoration: none;
    list-style: none;
    overflow: hidden;
}

nav ul li {
    display: inline;
    padding: 8px 16px;
}

.nav-center {
    text-align: center;
}

.nav-start {
    display: flex;
    align-items: center;
}

.nav-subscribe {
    padding: 16px 24px;
}

.nav-aside a {
    font-size: 1.25rem;
    padding: 0 12px;
}

.bold {
    font-weight: bold;
}

.main-intro-inner {
    padding: 48px 0;
    display: flex;
    align-items: flex-end;
}

.main-intro-inner .social-icons a {
    color: black;
}

.main-intro-inner .social-icons {
    text-align: center;
}

.main-intro-featured {
    width: 100%;
    max-width: 70%;
    padding: 0 24px 0 24px;
    position: relative;
}

.main-intro-side {
    max-width: 30%;
    padding: 0 24px 0 24px;
    width: 100%;
}

.main-intro-title {
    margin-top: 0px;
    font-size: 48px;
}

.jumbo-name-text {
    color: #FD4664;
    font-size: 72px;
}

.main-intro-sub-title {
    font-size: 24px;
    margin-top: 0px;
}

.main-intro-description {
    line-height: 28px;
    text-align: justify;
    font-size: 18px;
}

.main-intro-position h4,
.main-intro-position h5 {
    color: #525252;
    margin: 10px 0;
    text-align: center;
}

.main-intro-profile-image {
    text-align: center;
}

.main-intro-profile-image img {
    margin: auto;
    border-radius: 50%;
    object-position: cover;
    object-fit: center;
    overflow: hidden;
    height: 300px;
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    background-position: center;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 0px 12.5px rgba(0, 0, 0, 0.125);
}

.cwo-inner {
    padding-top: 24px;
    display: flex;
    align-items: center;
}

.cwo-image {
    width: 100%;
    max-width: 40%;
    padding: 0 24px 0 0;
    position: relative;
    display: flex;
    justify-content: center;
}

.cwo-image .img-wrap {
    margin-bottom: 0;
}

.cwo-image .img-wrap img {
    width: 430px;
    height: 430px;
    border-radius: 10px;
}

.cwo-info {
    width: 100%;
    max-width: 60%;
    padding: 0 24px;
    position: relative;
}

.project-title {
    margin: 0 0 16px 0;
}

.cwo-info .project-title {
    font-size: 32px;
}

.project-description {
    text-align: justify;
}

.project-commit {
    color: #c2c2c2;
    margin: 8px 0;
}

#currently-working-on,
#other-cool-projects,
#work-exp {
    padding: 50px 0;
}

.ocp-inner {
    margin-top: 24px;
    padding-top: 24px;
    display: flex;
    align-items: center;
}

.ocp-image {
    width: 100%;
    max-width: 30%;
    padding: 0 24px 0 0;
    position: relative;
    display: flex;
    justify-content: center;
}

.ocp-image .img-wrap {
    margin-bottom: 0;
}

.ocp-image .img-wrap img {
    width: 100%;
    height: 275px;
    border-radius: 10px;
}

.ocp-info {
    width: 100%;
    max-width: 70%;
    padding: 0 24px;
    position: relative;
}

.ocp-info .blog-category,
.ocp-info .project-title,
.ocp-info .project-description,
.ocp-info .project-commit {
    margin-bottom: 8px;
    margin-top: 0;
}

.ocp-info p {
    font-size: 16px;
}

.ocp-info .project-title {
    font-size: 24px;
}

.ocp-outer .aside,
.work-exp.aside {
    margin-top: 10px;
    float: right;
    font-size: 24px;
}

.col-sm-6 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.work-wrapper .blog-category,
.work-wrapper .work-title,
.work-wrapper .project-commit,
.work-wrapper .underline,
.work-wrapper .work-card-body {
    margin: 0;
}

.work-card-body {
    text-align: justify;
}

.work-exp-outer {
    padding: 20px;
}